@model IEnumerable<WebShop.Models.Entity.tblItem>

@{
    ViewBag.Title = "Item Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .item-img {
        width: 100px;
    }
</style>

<h2>Warenverwaltung</h2>

<div class="m-5">
    <!-- Ein Link, um ein neues Item hinzuzufügen. -->
    @Html.ActionLink("Hinzufügen", "Add", "Item", null, new { @class = "btn btn-primary mb-2", @style = "float : right" })
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Artikelart</th>
                <th>Kosten (€ pro Monat)</th>
                <th>Bild</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.tblItemTypeMaster.ItemType</td>
                    <td>@item.Cost</td>
                    <td>
                        <img src="~/Content/ItemImages/@item.ImageName" class="item-img object-fit-contain border rounded" />
                        <!-- Zeigt das Bild des Artikels an. -->
                    </td>
                    <td>
                        <!-- Ein Link, um den Artikel zu bearbeiten. -->
                        @Html.ActionLink("Bearbeiten", "Edit", "Item", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @if (item.IsActive == "Y")
                        {
                            <!-- Ein Link, um den Artikel zu deaktivieren, wenn er aktiv ist. -->
                            @Html.ActionLink("Deaktivieren", "Deactivate", "Item", new { id = item.Id }, new { @class = "btn btn-danger", @id = "btnDeactivate" })
                        }
                        else
                        {
                            <!-- Ein Link, um den Artikel zu aktivieren, wenn er inaktiv ist. -->
                            @Html.ActionLink("Aktivieren", "Activate", "Item", new { id = item.Id }, new { @class = "btn btn-success", @id = "btnActivate" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>