@using Microsoft.AspNet.Identity;
@using System;
@using System.Collections.Generic;
@using System.Data.Entity;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using WebShop.Models;
@using WebShop.Models.Entity;
@using WebShop.Models.Enum;

@model IEnumerable<WebShop.Models.Entity.tblUser>
@{
    ViewBag.Title = "Employee Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mitarbeiterverwaltung</h2>

<div class="m-5">
    @if (ViewBag.UserRole == (int)WebShop.Models.Enum.UserRoleEnum.Admins)
    {
        @Html.ActionLink("Hinzufügen", "Add", "Employee", null, new { @class = "btn btn-primary mb-2", @style = "float : right" })
    }

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Benutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Rolle</th>
                <th>Ist aktiv?</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.tblUserRolesMaster.UserRole</td>
                    <td>@user.IsActive</td>
                    @if (ViewBag.UserRole == (int)WebShop.Models.Enum.UserRoleEnum.Admins)
                    {
                        <td>@Html.ActionLink("Bearbeiten", "Edit", "Employee", new { id = @user.Id }, null) </td>
                        <td>@Html.ActionLink("Deaktivieren", "Deactivate", "Employee", new { id = @user.Id }, null) </td>
                    }
                    else if (ViewBag.UserRole == (int)WebShop.Models.Enum.UserRoleEnum.TeamLeaders)
                    {
                        if (user.tblTeamEmployees.Where(x => x.TeamLeaderId == ViewBag.UserId).Count() > 0 || user.Id == ViewBag.UserId)
                        {
                            <td>@Html.ActionLink("Bearbeiten", "Edit", "Employee", new { id = @user.Id }, null) </td>
                            <td> </td>
                        }
                        else
                        {
                            <td> </td>
                            <td> </td>
                        }
                    }
                    else
                    {
                        <td> </td>
                        <td> </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>
