@model IEnumerable<WebShop.Models.ProductModel>
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function AddToCart(item) {
        $(item).addClass("clicked");
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Product/AddToCart',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
            },
            error: function () {
                alert("Something went wrong!");
            }
        });
    }
</script>

<div class="container">
    <h2>Product List</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-1 product-tile mt-3">
                <div style="border-style: double; border-radius:7px" class="px-1">
                    <div onclick="location.href='/Product/Details/@item.Id'">
                        <div style="text-align: center; border-bottom: 1px solid maroon">
                            <h3>@item.Name</h3>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <img src="~/Content/ItemImages/@item.ImageName" width="100%" height="150px" />
                            </div>
                            @*<div class="col-md-6" style="text-align:left">
                                    - <b>@item.ProductType</b>
                                    <br />
                                    - <b>@item.Description</b>
                                </div>*@
                        </div>
                    </div>
                    @*<hr />*@
                    <div class="row p-1 mx-1" style="border-top: 1px solid maroon">
                        <div class="col-md-5 mt-1" style="font-size: 18px;" onclick="location.href='/Product/Details/@item.Id'">
                            <b>@item.Cost</b> (€ per Month)
                        </div>

                        <div class="col-md-7" style="text-align: right;">
                            @if (item.ItemsInStock > 0)
                            {
                                @*<input type="button" name="AddToCart" value="Add To Cart" class="btn btn-primary" itemid="@item.Id" id="btnAddToCart" onclick="AddToCart(this)" />*@
                                <button class="cart-button" name="AddToCart" value="Add To Cart" itemid="@item.Id" id="btnAddToCart" onclick="AddToCart(this)">
                                    <span class="add-to-cart">Add to cart</span>
                                    <span class="added">Added</span>
                                    <i class="fa fa-shopping-cart"></i>
                                    <i class="fa fa-box"></i>
                                </button>
                            }
                            else
                            {
                                <input type="button" name="OutOfStock" value="Out Of Stock" class="btn btn-warning mt-2" id="btnOutOfStock" />
                            }

                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>