@model IEnumerable<WebShop.Models.ShoppingCartModel>
@{
    ViewBag.Title = "Shopping Cart";
    decimal TotalAmt = 0;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @if (Model != null && Model.Count() > 0)
    {
        <span style="margin-left: 12%">Warenkorb</span>
        <span class="pull-right">
            <a class="btn btn-danger" href="/Product/ClearCart">
                Warenkorb leeren
                <i class="fa fa-remove"></i>
            </a>
        </span>
    }
    else
    {
        <span>Warenkorb leeren</span>
    }
</h2>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped-columns" style="width: 100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Kosten (€ pro Monat)</th>
                <th>Leihdauer (Monate)</th>
                <th>Leihbeginn</th>
                <th>Leihrückgabe</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            // Addiert die Gesamtkosten jedes Artikels zum Gesamtbetrag
            TotalAmt += item.Total;

            <tr>
                <td>
                    @* Link zum Entfernen eines Artikels aus dem Warenkorb *@
                    <a href="@Url.Action("RemoveItem", "Product", new { ItemId = item.Id })" title="Entfernen">
                        <i class="fa fa-lg fa-trash" style="color:orangered"></i>
                    </a>
                </td>
                <td>
                    @* Bild des Artikels *@
                    <img src="~/Content/ItemImages/@item.ImageName" height="60" class="img-rounded" />
                </td>
                <td>
                    @* Name des Artikels *@
                    @item.Name
                </td>
                <td>
                    @* Preis des Artikels pro Monat *@
                    @item.UnitPrice
                </td>
                @{
                    // Dropdown-Liste für die Auswahl der Leihdauer
                    var listPeriod = new SelectList(new[]
                        {
                            new {ID="1", Name="1 Monat"},
                            new {ID="2", Name="2 Monate"},
                            new {ID="3", Name="3 Monate"},
                            new {ID="4", Name="4 Monate"},
                            new {ID="5", Name="5 Monate"},
                            new {ID="6", Name="6 Monate"},
                            new {ID="7", Name="7 Monate"},
                            new {ID="8", Name="8 Monate"},
                            new {ID="9", Name="9 Monate"},
                            new {ID="10", Name="10 Monate"},
                            new {ID="11", Name="11 Monate"},
                            new {ID="12", Name="12 Monate"},
                            new {ID="13", Name="13 Monate"},
                            new {ID="14", Name="14 Monate"},
                            new {ID="15", Name="15 Monate"},
                            new {ID="16", Name="16 Monate"},
                            new {ID="17", Name="17 Monate"},
                            new {ID="18", Name="18 Monate"},
                            new {ID="19", Name="19 Monate"},
                            new {ID="20", Name="20 Monate"},
                            new {ID="21", Name="21 Monate"},
                            new {ID="22", Name="22 Monate"},
                            new {ID="23", Name="23 Monate"},
                            new {ID="24", Name="24 Monate"},
                        },
                        "ID", "Name", item.LendingPeriodMonths);
                }
                <td>
                    @* Dropdown-Liste zur Auswahl der Leihdauer *@
                    @Html.DropDownList("ddlLendingPeriod", listPeriod, new { @class = "form-control", @itemid = item.Id, @onChange = "EditCart(this)" })
                </td>
                <td>
                    @* Startdatum der Leihdauer *@
                    @item.LendingStartDt.ToShortDateString()
                </td>
                <td>
                    @* Enddatum der Leihdauer *@
                    @item.LendingEndDt.ToShortDateString()
                </td>
                <td style="text-align: right">
                    @* Gesamtkosten für den Artikel *@
                    @item.Total
                </td>
            </tr>
        }
        <tr style="border-top: 2px solid maroon">
            <td colspan="7" style="text-align: right">
                <h3>Gesamtbetrag</h3>
            </td>
            <td style="text-align: right">
                <h3>@TotalAmt</h3>
            </td>
        </tr>

        <tr>
            <td colspan="6">
                @* Link zurück zur Artikelliste *@
                <a href="index" class="btn btn-primary">
                    Zurück zu Artikeln
                </a>
            </td>
            <td colspan="6" style="text-align: right">
                @* Button zum Aufgeben der Bestellung *@
                <input type="button" value="Bestellung aufgeben" name="PlaceOrder" id="btnPlaceOrder" onclick="PlaceOrder()" class="btn btn-success" />
            </td>
        </tr>
    </table>
}
else
{
    <h3 style="text-align:center">
        Warenkorb ist leer.
    </h3>
}

<script type="text/javascript">
    // Funktion zum Bearbeiten des Warenkorbs
    function EditCart(item) {
        var itemId = $(item).attr("itemid");
        var lendingPeriod = $(item).val();
        var formData = new FormData();
        formData.append("ItemId", itemId);
        formData.append("LendingPeriod", lendingPeriod);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Product/EditCart',
            success: function (data) {
                if (data.Success) {
                    location.reload();
                }
            },
            error: function () {
                ShowAlert('Error', "Etwas ist schiefgelaufen!", 'danger');
            }
        });
    }

    // Funktion zum Aufgeben der Bestellung
    function PlaceOrder() {
        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            url: '/Product/PlaceOrder',
            success: function (data) {
                if (data.Success) {
                    window.location.href = "/Product/Index";
                }
            },
            error: function (data) {
                ShowAlert('Error', "Etwas ist schiefgelaufen!", 'danger');
            }
        });
    }
</script>