<!--//Bearbeiter: Hamza Elouari
                  Yusuf Can Sönmez(Viewbag)-->
@model WebShop.Models.AddStockModel
@{
    ViewBag.Title = "Erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artikel zum Warenbestand hinzufügen</h2>

<div class="m-1 card p-3 bg-light">
    @* Formular zum Hinzufügen eines Artikels zum Warenbestand *@
    <div class="row">
        <div class="col-md-6">
            @* ID des Artikels (deaktiviert) *@
            @Html.LabelFor(model => model.Id)
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @data_placement = "auto", @disabled = "disabled", @id = "txtItemId" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @* Name des Artikels (deaktiviert) *@
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @data_placement = "auto", @maxlength = "50", @disabled = "disabled" })
        </div>
        <div class="col-md-6">
            @* Typ des Artikels (deaktiviert) *@
            @Html.LabelFor(model => model.Type)
            @Html.DropDownList("Type",
                    EnumHelper.GetSelectList(typeof(WebShop.Models.Enum.ItemTypeEnum)),
                    null,
                    new { @class = "form-control", @id = "ddlItemType", @disabled = "disabled" })
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            @* Beschreibung des Artikels (deaktiviert) *@
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @data_placement = "auto", @disabled = "disabled", style = "height: 108px;" })
        </div>
        <div class="col-md-6">
            @* Kosten des Artikels (deaktiviert) *@
            @Html.LabelFor(model => model.Cost)
            @Html.TextBoxFor(model => model.Cost, new { @class = "form-control", @data_placement = "auto", @maxlength = "50", @disabled = "disabled" })
        </div>
    </div>
    <div>
        <label></label>
    </div>
    <label>Bild:</label>
    <div class="row mt-3">
        <div class="col-md-6">
            @* Bild des Artikels *@
            @if (System.Configuration.ConfigurationManager.AppSettings["Env"] == "local")
            {
                <img src="@System.Configuration.ConfigurationManager.AppSettings["LocalStoragePath"]@Model.ImageName" height="250" class="object-fit-contain border rounded" />
                <!-- Zeigt das Bild des Artikels an. -->
            }
            else
            {
                <img src="@System.Configuration.ConfigurationManager.AppSettings["AzureStoragePath"]@Model.ImageName" height="250" class="object-fit-contain border rounded" />
                <!-- Zeigt das Bild des Artikels an. -->
            }
        </div>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-md-6">
            @* Eingabefeld für die Menge des Artikels *@
            @Html.LabelFor(model => model.Quantity)
            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @type = "number", @min = "0", @id = "txtQuantity", @data_placement = "auto" })
        </div>
        <div class="col-md-6 mt-4">
            @* Button zum Hinzufügen von Seriennummern *@
            <button class="btn btn-success" type="button" id="btnAddSerialNo">Seriennummer hinzufügen</button>
        </div>
    </div>
    <div class="temp-div"></div>

    <hr />
    <div>
        <div>
            <div class="pull-left">
                @* Link zum Abbrechen und Zurückkehren zur Bestandsübersicht *@
                @Html.ActionLink("Abbrechen", "Index", "Stock", new { @class = "btn btn-dark" })
            </div>
        </div>
        <div style="text-align:right">
            @* Button zum Speichern der Änderungen *@
            <button class="btn btn-primary" id="btnSave">Bestätigen</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Event-Handler für den Speichern-Button
        $('#btnSave').click(function () {
            var qnt = $('#txtQuantity').val();
            var lstSerialNo = [];
            for (var i = 0; i < qnt; i++) {
                var serialNo = $('#txtSerialNo_' + i).val();
                lstSerialNo.push(serialNo);
            }

            // AJAX-Aufruf zum Speichern der Artikelinformationen
            $.ajax({
                url: '@Url.Action("Add")',
                type: 'POST',
                data: { Id: $("#txtItemId").val(), Quantity: $("#txtQuantity").val(), LstSerialNumbers: lstSerialNo },
                success: function (data) {
                    if (data.Success) {
                        ShowAlert('Success', data.Message, 'success');
                        window.location.href = '/Stock/Index';
                    }
                    if (data.Error) {
                        ShowAlert('Error', data.Message, 'danger');
                    }
                }
            });
        });

        // Event-Handler für den Button zum Hinzufügen von Seriennummern
        $('#btnAddSerialNo').on('click', function() {
            var val = $('#txtQuantity').val();
            $('#btnAddSerialNo').prop('disabled', true);
            $('#txtQuantity').prop('disabled', true);

            if (val > 0 && val <= 10) {
                var template = '';
                for (var i = 0; i < val; i++) {
                    if ($('#ddlItemType').val() == 10) {
                        template = '<div class="row mt-3"><label>Seriennummer </label><input class="form-control" data-placement="auto" data-val="true" data-val-required="The Serial Number field is required." id="txtSerialNo_' + i + '" name="SerialNo" type="text" value=""></div>';
                    } else if ($('#ddlItemType').val() == 30) {
                        template = '<div class="row mt-3"><label>Seriennummer </label><input class="form-control" data-placement="auto" data-val="true" data-val-required="The Serial Number field is required." id="txtSerialNo_' + i + '" name="SerialNo" type="text" value=""></div>';
                    }
                    $(template).insertAfter('.temp-div');
                }
                $('#btnSave').prop('disabled', false);
            } else {
                ShowAlert('Error', "Error! Please Enter Valid Quantity. (0-10)", 'danger');
            }
        });

        // Versteckt den Button zum Generieren von Seriennummern für Mietsoftware
        if ($('#ddlItemType').val() == 10 || $('#ddlItemType').val() == 30) {
            $('#btnAddSerialNo').show();
            $('#btnSave').prop('disabled', true);
        } else {
            $('#btnAddSerialNo').hide();
        }
    });
</script>