@model WebShop.Models.StockHistoryModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .div-tile {
        width : 500px;
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
        border-radius: 10px;
        padding: 10px;
    }

    ul.tree, ul.tree ul {
        list-style: none;
        /*margin: 0;
        padding: 0;*/
    }

        ul.tree ul {
            margin-left: 30px;
        }

        ul.tree li {
            margin: 0;
            padding: 0px 35px;
            line-height: 20px;
            color: black;
            border-left: 3px solid rgb(100,100,100);
        }

            ul.tree li:last-child {
                border-left: none;
            }

            ul.tree li:before {
                position: relative;
                top: 3px;
                height: 1em;
                width: 200px;
                color: white;
                border-bottom: 3px solid rgb(100,100,100);
                content: "";
                display: inline-block;
                left: -35px;
            }

            ul.tree li:last-child:before {
                border-left: 3px solid rgb(100,100,100);
            }
</style>

<h2>Details</h2>

<ul class="tree">
    <li>
        
        <div class="div-tile">
            <h3>Item Details</h3>
            <span style="margin-left: 15px">Item Name : <b> @Model.ItemName</b></span>
            <br />
            <span style="margin-left: 15px">Item Type : <b> @Model.ItemType</b></span>
            <br />
            <span style="margin-left: 15px">Item Cost : <b> @Model.ItemCost</b></span>
        </div>
        <ul>
            @foreach (var stock in Model.lstStocks)
            {
                <li>
                    @{ 
                        var text = "";
                        text = stock.StockDeleteDate == null ? "Added" : "Deleted";

                    }

                    <div class="div-tile">
                        <h3>Stock @text</h3>
                        <span style="margin-left: 15px">Stock Added By : <b> @stock.StockAddedBy</b></span>
                        <br />
                        <span style="margin-left: 15px">Stock Add Date : <b> @stock.StockAddDate</b></span>
                        <br />
                        <span style="margin-left: 15px">Stock Current Quantity : <b> @stock.StockCurrentQuantity</b></span>
                        <br />
                        <span style="margin-left: 15px">Initial Quantity : <b> @stock.InitialQuantity</b></span>
                        <br />
                        <span style="margin-left: 15px">Stock Deleted By : <b> @stock.StockDeletedBy</b></span>
                        <br />
                        <span style="margin-left: 15px">Stock Delete Date : <b> @stock.StockDeleteDate</b></span>
                    </div>
                    <ul>
                        @foreach (var stockDtls in stock.lstStockDetails)
                        {
                            <li>
                                <div class="div-tile">
                                    <h3>Stock Details</h3>
                                    <span style="margin-left: 15px">SerialNo : <b> @stockDtls.SerialNo</b></span>
                                    <br />
                                    <span style="margin-left: 15px">OrderID : <b> @stockDtls.OrderID</b></span>
                                    <br />
                                    <span style="margin-left: 15px">OrderedBy : <b> @stockDtls.OrderedBy</b></span>
                                    <br />
                                    <span style="margin-left: 15px">OrderDate : <b> @stockDtls.OrderDate</b></span>
                                    <br />
                                    <span style="margin-left: 15px">OrderApproved : <b> @stockDtls.OrderApproved</b></span>
                                    <br />
                                    <span style="margin-left: 15px">LendingPeriodMonths : <b> @stockDtls.LendingPeriodMonths</b></span>
                                    <br />
                                    <span style="margin-left: 15px">LendingStartDt : <b> @stockDtls.LendingStartDt</b></span>
                                    <br />
                                    <span style="margin-left: 15px">LendingEndDt : <b> @stockDtls.LendingEndDt</b></span>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
</ul>