@model WebShop.Models.AddStockModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artikel aus dem Lager entfernen</h2>
<div class="m-1 card p-3 bg-light">
    @* Formular zum Entfernen eines Artikels aus dem Lager *@
    @using (Html.BeginForm("Remove", "Stock", FormMethod.Post, new { id = "frmRemoveItemFromStock" }))
    {
        <div class="row">
            <div class="col-md-6">
                @* ID des Artikels (deaktiviert) *@
                @Html.LabelFor(model => model.Id)
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @data_placement = "auto", @disabled = "disabled", @id = "txtItemId" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @* Name des Artikels (deaktiviert) *@
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @data_placement = "auto", @maxlength = "50", @disabled = "disabled" })
            </div>
            <div class="col-md-6">
                @* Typ des Artikels (deaktiviert) *@
                @Html.LabelFor(model => model.Type)
                @Html.DropDownList("Type",
                         EnumHelper.GetSelectList(typeof(WebShop.Models.Enum.ItemTypeEnum)),
                         null,
                         new { @class = "form-control", @id = "ddlItemType", @disabled = "disabled" })
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                @* Beschreibung des Artikels (deaktiviert) *@
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @data_placement = "auto", @disabled = "disabled" })
            </div>
            <div class="col-md-6">
                @* Kosten des Artikels (deaktiviert) *@
                @Html.LabelFor(model => model.Cost)
                @Html.TextBoxFor(model => model.Cost, new { @class = "form-control", @data_placement = "auto", @maxlength = "50", @disabled = "disabled" })
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                @* Bild des Artikels *@
                <label>Hinzugefügtes Bild:</label>
                <img src="~/Content/ItemImages/@Model.ImageName" class="object-fit-contain border rounded form-control" />
            </div>
        </div>
        <hr />

        <div class="row mt-3">
            <div class="col-md-3">
                @* Dropdown zur Auswahl der Seriennummer zum Entfernen *@
                <label>Seriennummer zum Entfernen auswählen</label>
                @Html.DropDownListFor(model => model.SelectedSerialNo, Model.SelectLstSerialNumbers, new { @class = "form-control", @id = "ddlSerialNo" })
            </div>
            <div class="col-md-6">
                @* Textbereich für den Grund der Entfernung *@
                <label>Grund</label>
                @Html.TextAreaFor(model => model.DeleteReason, new { @class = "form-control", @required = "required" })
            </div>
        </div>

        <hr />
        <div>
            <div>
                <div class="pull-left">
                    @* Link zum Abbrechen und Zurückkehren zur Bestandsübersicht *@
                    @Html.ActionLink("Abbrechen", "StockDetails", "Stock", new { @class = "btn btn-dark" })
                </div>
            </div>
            <div style="text-align:right">
                @* Button zum Entfernen des Artikels *@
                <button class="btn btn-danger mt-4" id="btnRemove">Entfernen</button>
            </div>
        </div>
        @*<input type="submit" class="btn btn-primary" value="Submit" />*@
    }
</div>