@model IEnumerable<WebShop.Models.AddStockModel>

@{
    ViewBag.Title = "Stock Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Warenbestand</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th class="col-7">Artikel</th>
            <th>Menge</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* Iteration über alle Artikel im Modell *@
        @foreach (var item in Model)
        {
            <tr>
                @* Anzeige der Artikel-ID *@
                <td>@item.Id</td>
                <td class="col-7">
                    <div class="row">
                        <div class="col-6">
                            @* Anzeige der Artikeldetails *@
                            <p><b>Name : </b>@item.Name</p>
                            <p><b>Beschreibung : </b>@item.Description</p>
                            <p><b>Artikelart : </b>@item.ItemTypeStr</p>
                            <p><b>Kosten (€ pro Monat) : </b>@item.Cost</p>
                        </div>
                        <div class="col-6">
                            @* Anzeige des Artikelbildes *@
                            <p><img src="~/Content/ItemImages/@item.ImageName" class="object-fit-contain border rounded" style="width: 100%; height:150px" /></p>
                        </div>
                    </div>
                </td>
                @* Anzeige der Artikelmenge *@
                <td>@item.Quantity</td>

                @* Link zum Hinzufügen des Artikels zum Warenbestand *@
                <td>@Html.ActionLink("Artikel zum Warenbestand hinzufügen", "Add", "Stock", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                @* Link zum Entfernen des Artikels vom Warenbestand *@
                <td>@Html.ActionLink("Artikel vom Warenbestand entfernen", "Remove", "Stock", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                @* Link zu den Details des Artikels *@
                <td>@Html.ActionLink("Details", "Details", "Stock", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
            </tr>
        }
    </tbody>
</table>